.splash-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  transition: opacity .8s ease;
}

.splash-logo {
  width: 220px;
  height: auto;
  margin-bottom: 18px;
}

.splash-sub {
  color: #cccccc;
  font-size: 14px;
}

.splash-root.fade-out {
  opacity: 0;
}
